/*Not much is going to be done to this in the beginning so that I can focus on the javascript and stuff*/

:root{ /*Colors are not finished*/
    --primary-color: rgb(19, 155, 19); /*Pale Lilac*/
    --primary-contrast: white;
    --accent-color: black;

    --text: rgb(104, 103, 103);
    --light-text: rgb(255, 255, 255);
    --dark-text: rgb(50, 49, 49);
}

html{
    height: 100%;
    width: 100%;
}

/*
COLORS:
strong purple:    #c964ff
lilac:            #E0B0FF - pleasant
pale lilac:       #b096ff - pleasant, easier to see
wisteria:         #B3AEFF - like lilac but more blue-ish, pleasant
baby blue violet: #B0F5FF - pleasant, a bit difficult to see with white
*/

body{
    overflow: hidden;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6, a, p, cite, button{
    font-family: "Noto Sans", "Gill Sans", "Gill Sans MT", sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

ul{
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.important{ /*Anything that should be above the matterbodies*/
    z-index: 1;
}

/* Header & Nav */

nav{
    display: grid;
    grid-template: 1fr/1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 100%;
    background-color: var(--primary-contrast);
}

nav a{
    width: fit-content;
}

#primary-nav li a, #logo h2{
    color: var(--primary-color);
}

#primary-nav{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 3rem;
}

#primary-nav li{
    padding: 0.5rem;
}

#primary-nav li:hover{
    color: var(--primary-contrast);
}

#primary-nav li a{
    font-size: 0.75rem;
    color: var(--accent-color);
}

#searchbar{
    padding-left: 0.5rem;
}

#searchbar input[type=text]{
    height: 1rem;
    padding: 0.4rem;
    border: 1px solid var(--accent-color);
}

#searchbar input[type=text]:focus{
    caret-color: var(--primary-color); /*the blinking line thing when you click the searchbar*/
    outline: none;
}

#logo{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 3rem;
}

#logo h2{
    padding-left: 1rem;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 800;
}

/*Main & Sections*/

main{
    height: 100%;
    width: 100%;
}

#overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

#canvas{
    display: flex;
    position: absolute;
    align-self: center;
    justify-self: center;
    z-index: -1;
}

/* Overlay */

#overlay h1{
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 1px;
    color: var(--primary-contrast);
}

/* Matterbodies */

.matter-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    border-radius: 7px;
    border: 2px solid var(--primary-contrast); /*Needs to be compensated for otherwise the borders are clipping other bodies*/
    background-color: var(--primary-color); /*#E0B0FF*/
}

.matter-body p, i, h2{
    color: var(--primary-contrast);
    font-weight: 800;
}

.strip{
    height: 73px;
    width: 123px;
}

.strip:hover{
    cursor: pointer;
}

.strip h2{
    font-size: 1rem;
    margin-bottom: 10px;
}

.strip p{
    font-size: 0.75rem;
    width: fit-content;
    margin: 0;
    padding: 0;
}

.socials{
    height: 48px;
    width: 48px;
}

.large-matter{
    justify-content: center;
    height: 98px;
    width: 98px;
}

.large-matter i{
    font-size: 2.5rem;
}