:root{
    --primary-color: rgb(19, 155, 19); /*Pale Lilac*/
    --primary-contrast: white;
    --primary-contrast-weak: rgba(255, 255, 255, 0.9);
    --accent-color: rgb(173, 59, 59);

    --text: rgb(104, 103, 103);
    --light-text: rgb(255, 255, 255);
    --dark-text: rgb(50, 49, 49);
}

html{
    height: 100%;
    width: 100%;
}

body{
    overflow: hidden;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6, a, p, cite, button{
    font-family: "Noto Sans", "Gill Sans", "Gill Sans MT", sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

ul{
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* Header & Nav */

nav{
    display: grid;
    grid-template: 1fr/1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 100%;
    background-color: var(--primary-contrast);
}

nav a{
    width: fit-content;
}

#primary-nav li a, #logo h2{
    color: var(--primary-color);
}

#primary-nav{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 3rem;
}

#primary-nav li{
    padding: 0.5rem;
}

#primary-nav li:hover{
    color: var(--primary-contrast);
}

#primary-nav li a{
    font-size: 0.75rem;
    color: var(--dark-text);
}

#searchbar{
    padding-left: 0.5rem;
}

#searchbar input[type=text]{
    height: 1rem;
    padding: 0.4rem;
    border: 1px solid var(--accent-color);
    color: var(--primary-color);
}

#searchbar input[type=text]:focus{
    caret-color: var(--primary-color); /*the blinking line thing when you click the searchbar*/
    outline: none;
}

#searchbar input[type=text]::placeholder{
    color: var(--accent-color);
}

#logo{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 3rem;
}

#logo h2{
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 800;
}

#logo h2::selection{
    background-color: var(--primary-color);
    color: var(--primary-contrast);
}

#sidepanel{
    display: none;
}

/*Main & Canvas*/

main{
    height: 100%;
    width: 100%;
}

#canvas{
    display: flex;
    position: absolute;
    align-self: center;
    justify-self: center;
    z-index: -1;
}

/* Overlay */

#overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

#overlay *{ /*Anything that should be above the matterbodies*/
    z-index: 1;
    width: fit-content;
}

#overlay *::selection {
    background-color: var(--primary-contrast);
    color: var(--primary-color);
  }

#overlay h1, h3, p{
    color: var(--primary-contrast);
    text-align: center;
}

#overlay h1{
    margin-top: 7.5rem;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 1px;
}

#overlay h3{
    margin-top: 1rem;
}

#overlay div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
    width: 75vh;
}

#overlay div > a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5vh 3vh;
    border-radius: 1vh;
    background-color: white;
    color: green;
    font-weight: 900;
}

#overlay div > p{
    font-weight: 400;
}

/* Matterbodies */

.matter-body{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    border-radius: 7px;
    border: 2px solid var(--primary-contrast-weak); /*Needs to be compensated for otherwise the borders are clipping other bodies*/
    background-color: "transparent";
}

.matter-body p, i, h2{
    color: var(--primary-contrast-weak);
}

.matter-body p::selection, i::selection, h2::selection{
    background-color: var(--primary-contrast);
    color: var(--primary-color);
}

.matter-body p{
    font-weight: 700;
}

.matter-body h2:hover, .large-matter p:hover{
    text-decoration: underline;
}

.strip{
    height: 73px;
    width: 123px;
}

.strip > *{
    margin-left: 0.35rem;
    width: fit-content;
}

.strip h2{
    font-size: 1rem;
    font-weight: 800;
}

.strip p{
    font-size: 0.75rem;
}

.socials{
    align-items: center;
    height: 48px;
    width: 48px;
}

.socials i{
    font-size: 1.5rem;
}

.large-matter{
    align-items: center;
    height: 98px;
    width: 98px;
}

.large-matter i{
    font-size: 2.5rem;
}

@media (max-width: 768px){

    nav{
        height: 3rem;
    }

    #overlay h1{
        margin-top: 6rem;
        font-size: 3rem;
    }

    #overlay h1 span{
        display: block;
    }

    #overlay h3{
        padding: 0 10vh; /*It's a cheap trick but it gets the job done*/
    }

    /*side panel styles*/

    #primary-nav{
        display: none;
    }

    #side-panel{
        display: block;
        justify-self: right;
        margin-right: 3rem;
        color: var(--primary-color);
        font-size: 1.25rem;
    }
}